



<div class='nav_bar'>#</div>
<% if @projects %>
	<% @projects.each do |project| %>
		<ul><div class='container'><h1><%=project.name %> </h1>
			<li>
				<%= form_for project do %>
				<%= fields_for :palette, project.palette do |palette| %>
				<div id="pick<%=project.id%>"> index </div>

				<input type="range" id="<%=project.id%>" min="0" max="16777215" oninput="updateTextInput(this.value,this.id);">

				<input type="text" id="textOutput<%=project.id%>"><br>
				<%=project.id%><br>
				  <%= palette.label 'background_dark_color' %>:
				  <%= palette.text_field :background_dark_color, placeholder: '@palette.background_dark_color' %><br/>

				  <%= palette.label 'background_light_color' %>:
				  <%= palette.text_field :background_light_color, placeholder: "#{palette}" %><br/>

				  <%= palette.label 'dark_color1' %>:
				  <%= palette.text_field :dark_color1, placeholder: "@palette.dark_color1" %><br/>

				  <%= palette.label 'dark_color2' %>:
				  <%= palette.text_field :dark_color2, placeholder: "@palette.dark_color2" %><br/>

				  <%= palette.label 'light_color1' %>:
				  <%= palette.text_field :light_color1, placeholder: "@palette.light_color1" %><br/>

				  <%= palette.label 'light_color2' %>:
				  <%= palette.text_field :light_color2, placeholder: "@palette.light_color2" %><br/>

			      <%= palette.submit %>

				  <%= link_to 'Destroy',  project,  method: :delete, data: { confirm: 'Are you sure?' } %>

				<% end %>
				</div>
			</li>

		<% end %></ul>
	<%end%>
<%end%>

<%= button_to "+", new_project_path, method: "get" %>
